<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/PortalAutomation-29-12-2022/CareARAutomation/PortalAutomation_v1.0/PortalAutomationScenarios/src/test/java/Rough/testNgPractice.xml"><classes/></test></suite>